/* Reset default margins */
* {
    margin: 0;
    box-sizing: border-box;
}

/* CSS HEX */
:root {
    --davys-gray: #565254ff;
    --icterine: #fffd77ff;
    --moss-green: #758e4fff;
    --sandy-brown: #fcb07eff;
    --lavender-blush: #F6E8EA;
  }

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--lavender-blush);
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--davys-gray);
    height: 100px;
}
header h1{
    background-color: var(--moss-green);
    border-radius: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}
.icon:hover {
    border: 2px solid var(--sandy-brown)  ;

}

/* Main layout styles */
main {
    display: flex;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(-);
}

.large-section {
    background-color: var(--sandy-brown);
    height: 600px;
    padding: 20px;
    max-width: 300px;
    border-radius: 3%;
    box-shadow: black 1px 0px 15px;
    max-width: 300px;
}

/* Form layout styles */
.form-section {
    /* Style the form section later */
    height: 500px;
    max-width: 400px;
    min-width: 180px;
    background-color: var(--icterine);
    display: flex;
    flex-direction: column; /* Display form elements in a column */
    gap: 15px; /* Add some space between form elements */
    padding: 20px; /* Add padding for better readability */
}

label {
    font-weight: bold; 
}

.pet-data-section {
    height: 800px;
    width: 800px;
    min-width: 360px;
    background-color: var(--moss-green);
    padding: 20px;
    max-width: 800px;
    border-radius: 3%;
    box-shadow: black 1px 0 15px;
}


.pet-description{
    display: flex;
    height: 400px;
    background-color: var(--icterine);
    padding: 10px;
    overflow-y: auto;
    flex-direction: row;
    border-radius: 10%;
}
.temp-desc{
    display: flex;
    width: 60%;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.arrowImg{
    border: 5px;
    border-radius: 10%;
    max-width: 200px;
    height: fit-content;
}
.descImg{
    border: 5px;
    border-radius: 10%;
    max-width: 180px;
    height: fit-content;
}
.selectedPetImg {
    border-radius: 10%;
    max-width: 100%;
    margin: 10px;
  }


.descData{
    width: 60%;
    padding: 20px;
}


.pet-list{
    height: 300px;
    background-color: var(--icterine);
    margin: 5px;
    overflow-y: auto;
    border-radius: 10%;
    padding: 10px;
}
.animal-info{
    border: 2px;
    border-color: black;
    margin: 10px;
}
.animal-info:hover{
    background-color:var(--lavender-blush) ;
}

aside {
    display: flex;
    flex-direction: column;
}


select {
    height: 30px;
    display: block;
    margin: 3px 0px;
    max-height: 150px; 
}


  
/* Footer styles */
footer {
    background-color: var(--davys-gray);
    padding: 10px;
    text-align: right;
}
footer a {
    background-color: var(--moss-green);
    border-radius: 10%;
    margin-bottom: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}


@media (max-width: 820px) {

    header h1{
        height: 80px;
        margin-top: 15px;
        font-size: 20px;
    }
    main{
        gap: 5px;
        padding: 5px;
    }
    .pet-data-section{
        min-width: 400px;
        width: 300px;
    }

    .arrowImg{
        width: 200px;
    }
}
@media (max-width: 620px){
    main{
        flex-direction: column;

    }
    .large-section{
        max-width: 360px;
        width: 360px;
    }
}



@media (max-width: 420px) {
    main{
        flex-direction: column;
        padding: 5px;
    }
    .pet-description{
        flex-direction: column;
        align-items: center;
    }
    .pet-data-section{

        min-width: none;
        width: 340px;
        min-width: 360px;
    }
    
    .descImg{
        width: 280px;
        max-height: 300px;
    }
    .descData{
        width: 100%;
    }

    .selectedPetImg{
        max-height: 300px;
        margin: 0px;
    }
    .large-section{
        width: 300px;
    }
    .arrowImg{
        width: 100px;
        align-self: center;
    }
    .temp-desc{
        /* display: flex; */
       
    }

}