/* Reset default margins */
* {
    margin: 0;
    box-sizing: border-box;
}

/* CSS HEX */
:root {
    --davys-gray: #565254ff;
    --icterine: #fffd77ff;
    --moss-green: #758e4fff;
    --sandy-brown: #fcb07eff;
    --aquamarine: #a1fcdfff;
  }

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--davys-gray);
    height: 100px;
}
header h1{
    background-color: var(--moss-green);
    border-radius: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon {
    width: 30px; 
    height: auto;
    margin-right: 10px;
}

/* Main layout styles */
main {
    display: flex;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(-);
}

.large-section {
    background-color: var(--sandy-brown);
    height: 800px;
    padding: 20px;
    max-width: 300px;
}

/* Form layout styles */
.form-section {
    /* Style the form section later */
    height: 500px;
    max-width: 400px;
    background-color: var(--icterine);
    display: flex;
    flex-direction: column; /* Display form elements in a column */
    gap: 15px; /* Add some space between form elements */
    padding: 20px; /* Add padding for better readability */
}

label {
    font-weight: bold; 
}

.pet-data-section {
    height: 800px;
    width: 800px;
    background-color: var(--moss-green);
    padding: 20px;
    max-width: 800px;   
}


.pet-description{
    display: flex;
    height: 400px;
    background-color: var(--icterine);
    margin: 5px;
    padding: 10px;
    overflow-y: auto;
    flex-direction: row;
    border-radius: 10%;
}
.descImg{
    border: 5px;
    border-radius: 10%;
    max-width: 200px;
    height: fit-content;
}
.selectedPetImg {
    border: 5px;
    background-color: #c0c0c0;
    border-radius: 10%;
    max-width: 100%;
    margin: 10px;
  }


.descData{
    width: 60%;
    padding: 20px;
}

.pet-list{
    height: 300px;
    background-color: var(--icterine);
    margin: 5px;
    overflow-y: auto;
    border-radius: 10%;
    padding: 10px;
}
.animal-info{
    border: 2px;
    border-color: black;
    margin: 10px;
}


aside {
    display: flex;
    flex-direction: column;
}


select {
    height: 30px;
    display: block;
    margin: 3px 0px;
    max-height: 150px; 
}


  
/* Footer styles */
footer {
    background-color: var(--davys-gray);
    padding: 20px;
}

